
*{
    margin: 0;
    padding: 0
}

.container1{
    height: 300px;
    width: 350px;
    border: 2px solid rgb(184, 15, 15);
}

.container1{
    margin-top: 10px;
    margin-left: 20px;

    padding: 30px;
}

.container1{
    padding-bottom: 20px;
}

.container1>h2{
    margin-bottom: 20px;
}