
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.con1{
    background-color: aqua;
    height: 30vh;
    width: 30vw;
}

.con2{
    height: 300px;
    background-color: black;
    width: 400px;
}